//- Parameters
//- user

extends layout.pug

block title
    | Index Page

block page_title
    | Welcome to KWEB Community Page!

block buttons
    a.btn.btn-primary.mr-2(href='/articles') View Articles
    a.btn.btn-info.mr-2(href='/article/compose') Compose Articles
